<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/document.png') }}" type="image/png">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    
    {% if message %}
        <p style="color: green; font-weight: bold;">{{ message }}</p>
    {% endif %}
    {% if error %}
        <p style="color: red; font-weight: bold;">{{ error }}</p>
    {% endif %}
    
    <form method="POST" action="/register">
        <input type="text" id="name" name="name" placeholder="Name" required>
        <input type="email" id="email" name="email" placeholder="Email" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/">Login here</a></p>
</body>
</html>
